<%- include('../partials/header') %>

<form action="/skills" method="POST">
  Name: <input type="text" name="name"><br>
  Skill level: <input type="text" name="level"><br>
  <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>